In [ ]:
import pandas as pd
df0 = pd.read_csv("/content/drive/MyDrive/CSV files/part-00000-1e534233-42cc-4cac-b173-536a200f9415-c000.csv")
df0.size

3556880

In [ ]:
import glob
import os

# merging the files
joined_files = os.path.join("/content/drive/MyDrive/CSV files", "part-00000*.csv")

# A list of all joined files is returned
joined_list = glob.glob(joined_files)

# Finally, the files are joined
df1 = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
df1.size

17234320

In [ ]:
df1.size

17234320

In [ ]:
df2=pd.read_csv("/content/drive/MyDrive/Node_location/node_locations.csv")
df2.head()

   Unnamed: 0   Node ID   Latitude  Longitude
0           0    161057  50.526455  30.147457
1           1    161057   0.000000   0.000000
2           2  10980416  46.465199  30.735337
3           3  10980416  46.465199  30.735337
4           4  10980416  46.465199  30.735337

In [ ]:
df2.info

<bound method DataFrame.info of            Unnamed: 0      Node ID   Latitude  Longitude
0                   0       161057  50.526455  30.147457
1                   1       161057   0.000000   0.000000
2                   2     10980416  46.465199  30.735337
3                   3     10980416  46.465199  30.735337
4                   4     10980416  46.465199  30.735337
...               ...          ...        ...        ...
138813798   138813798  10205345404  48.455992  34.932153
138813799   138813799  10205345405  48.456022  34.932567
138813800   138813800  10205345406  48.456038  34.932811
138813801   138813801  10205345407  48.455960  34.933128
138813802   138813802  10205345408  48.455941  34.933343

[138813803 rows x 4 columns]>

In [ ]:
df2 = df2.drop(columns=['Unnamed: 0'])

In [ ]:
df2.info

<bound method DataFrame.info of                Node ID   Latitude  Longitude
0               161057  50.526455  30.147457
1               161057   0.000000   0.000000
2             10980416  46.465199  30.735337
3             10980416  46.465199  30.735337
4             10980416  46.465199  30.735337
...                ...        ...        ...
138813798  10205345404  48.455992  34.932153
138813799  10205345405  48.456022  34.932567
138813800  10205345406  48.456038  34.932811
138813801  10205345407  48.455960  34.933128
138813802  10205345408  48.455941  34.933343

[138813803 rows x 3 columns]>

In [ ]:
df2 = df2.rename({'Node ID': 'id'}, axis=1)

In [ ]:
df2.head()

In [ ]:
output1 = pd.merge(df1, df2,
                   on='id',
                   how='inner')